/**
 * CUSTOM CSS
 *
 * Here you can add your custom CSS code.
 */
.c-header__brand .c-brand__first-word,
.c-header__brand .c-brand__second-word,
.c-footer__brand .c-brand__first-word,
.c-footer__brand .c-brand__second-word {
  display: inline;
  font-weight: 300;
  text-transform: none;
}

.c-intro p {
  font-size: inherit;
}

.c-profile__icon .fas,
.c-profile__icon .far,
.c-profile__icon .fal,
.c-profile__icon .fab {
  color: inherit;
}

@media (min-width: 1024px) {
  .c-header__header,
  .c-header__content {
    height: 80vh;
  }
  .c-footer__contact-divider {
    margin-bottom: 3rem;
  }
}

.t-link-container__item {
  color: #f8bb10;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

/***Temp Styles for PDF generator**/
body {
  font-size: 0.98rem;
  line-height: 1.74;
}
.c-header__brand {
  margin-bottom: 1.2rem;
}
.c-intro p {
  margin-bottom: 1rem;
}
.c-deco-line {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  height: 4px;
}
.c-footer__contact {
  margin-bottom: 0;
}
.c-footer__contact-divider {
  margin-bottom: 3rem;
}
.t-title {
  font-size: 4rem;
}
.c-avatar__img {
  width: 12rem;
}
.o-section__content.c-header__content {
  padding-top: 1rem;
}
.o-section__content {
  padding: 1.7rem 1.7rem 0rem 3rem;
}
.o-section__header {
  padding: 1.7rem 1.7rem 0rem 3rem;
}
.o-content {
  padding-bottom: 1.7rem;
}
